{% extends 'layouts/layout.html' %}
{% load static %}
{% load dict_filter %}
{% block content %}
<h3>{{ title }}</h3>

{% if absensi_per_bulan %}
    
    {% for bulan_key, items in absensi_per_bulan.items %}
    <div class="card card-primary mb-5 shadow collapsed-card">
        <div class="card-header bg-info text-white">
            <h4 class="card-title text-2xl font-semibold">{{ bulan_labels|dict_get:bulan_key }}</h4>
            <div class="card-tools">
                <button type="button" class="btn btn-tool text-white"
                    data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered table-sm">
                <thead class="bg-black text-white">
                    <tr class="text-center">
                        <th>NIK</th>
                        <th>Nama</th>
                        <th>Shift</th>
                        <th>Tanggal Masuk</th>
                        <th>Status Masuk</th>
                        <th>Tanggal Keluar</th>
                        <th>Status Keluar</th>
                        <th>Keterlambatan</th>
                        <th>Total Durasi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for absen in items %}
                    <tr class="text-center">
                        <td>{{ absen.nik.nik }}</td>
                        <td class="text-left">{{ absen.nik.name }}</td>
                        <td>
                            {% if absen.schedule %}
                                <div class="font-weight-bold">
                                {{ absen.schedule.name }} 
                                <small>( {{ absen.schedule.start_time|time:"H:i" }} )</small>
                                </div>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ absen.date_in|date:"d M Y H:i" }}</td>
                        <td class="
                                {% if absen.status_in == 'Terlambat' %}
                                    text-danger 
                                {% elif absen.status_in == 'Tepat Waktu' %}
                                    text-success 
                                {% elif absen.status_in == 'Libur'%}
                                    text-secondary 
                                {% elif absen.status_in == 'Cuti'%}
                                    text-warning 
                                {% endif %}
                            ">
                            {{ absen.status_in }}
                        </td>
                        <td>
                            {% if absen.date_out %}
                            {{ absen.date_out|date:"d M Y H:i" }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td class="
                                {% if absen.status_out == 'Pulang Cepat' %}
                                    text-danger 
                                {% elif absen.status_out == 'Tepat Waktu' %}
                                    text-success 
                                {% elif absen.status_out == 'Libur'%}
                                    text-secondary 
                                {% elif absen.status_out == 'Cuti'%}
                                    text-warning 
                                {% else %}
                                {% endif %}
                            ">
                            {{ absen.status_out|default:"-" }}
                        </td>
                        <td>
                            {% if absen.late_minutes > 0 %}
                                <span class="text-danger">{{ absen.late_time }} ({{ absen.late_minutes }} menit)</span>
                            {% elif absen.status_in == 'Cuti' %}
                                <span class="text-warning">Cuti</span>
                            {% elif absen.status_in == 'Libur'%}
                                <span class="text-warning">Libur</span>
                            {% else %}
                                <span class="text-success">Tidak Terlambat</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if absen.total_work %}
                                {{ absen.total_work }} ({{ absen.total_work_minutes }} menit)
                            {% else %}
                                <span class="text-muted">Belum pulang</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8">
                            <div class="card shadow p-2 mt-4">
                                <div class="card-body text-center">
                                    <h4 class="text-xl font-bold">Tidak ada data absen bulan ini.</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

{% else %}
    <div class="card shadow p-4 mt-4">
        <div class="card-body text-center">
            <h1 class="text-2xl font-bold text-danger">Data Absen Kosong</h1>
            <p>Belum ada data absensi yang tercatat untuk divisi ini.</p>
        </div>
    </div>
    
{% endif %}
{% endblock %}
