venv/
env/

__pycache__/
*.pyc
.pytest_cache/

.env
.vscode/

db.sqlite3

/static/img/*.jpeg
/static/img/*.png
/static/img/*.jpg

/static/cuti_img/*.jpeg
/static/cuti_img/*.png
/static/cuti_img/*.jpg

/media/img/*.jpeg
/media/img/*.png
/media/img/*.jpg

/media/bukti_izin/*.jpeg
/media/bukti_izin/*.png
/media/bukti_izin/*.jpg

/staticfiles/