{% extends 'layouts/layout.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" action="{% url 'editCuti' cuti.id %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="cuti_name">Nama Cuti</label>
                <input value="{{ cuti.name }}" type="text" class="form-control" name="cuti_name" id="cuti_name" placeholder="Nama Cuti" required>
            </div>
            <div class="form-group">
                <label for="jatah">Jatah</label>
                <input value="{{ cuti.default_quota }}" type="number" class="form-control" name="jatah" id="jatah" placeholder="0 Jika tidak dibatasi" required>
            </div>
            <div class="form-group">
                <label for="jmlh_hari">Jumlah Hari</label>
                <input value="{{ cuti.auto_days }}" type="number" class="form-control" name="jmlh_hari" id="jmlh_hari" placeholder="0 Jika tidak dibatasi" required>
            </div>
        </div>
        <div class="card-footer">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{{ message.tags }}",  
        title: "{{ message.tags|capfirst }}",
        text: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}
{% endblock %}