{% extends 'layouts/layout.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" action="{% url 'addJadwal' %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="jadwal_id">ID Jadwal</label>
                <input type="text" class="form-control" name="jadwal_id" id="jadwal_id" placeholder="Jadwal ID" required>
            </div>
            <div class="form-group">
                <label for="jadwal_name">Nama Jadwal</label>
                <input type="text" class="form-control" name="jadwal_name" id="jadwal_name" placeholder="Nama Jadwal" required>
            </div>
            <div class="form-group">
                <label for="jam_masuk">Jam Masuk</label>
                <input type="time" class="form-control" name="jam_masuk" id="jam_masuk" placeholder="Jam Masuk" required>
            </div>
            <div class="form-group">
                <label for="jam_keluar">Jam Keluar</label>
                <input type="time" class="form-control" name="jam_keluar" id="jam_keluar" placeholder="Jam Keluar" required>
            </div>
        </div>
        <div class="card-footer">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{{ message.tags }}",  
        title: "{{ message.tags|capfirst }}",
        text: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}
{% endblock %}