{% extends 'layouts/layout.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" action="{% url 'editIzin' izin.id %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="izin_name">Nama Izin</label>
                <input value="{{ izin.name }}" type="text" class="form-control" name="izin_name" id="izin_name" placeholder="Nama Cuti" required>
            </div>
            <div class="form-group">
                <label for="jmlh_hari">Jumlah Hari/Izin</label>
                <input value="{{ izin.max_days }}" type="number" class="form-control" name="jmlh_hari" id="jmlh_hari" placeholder="0 Jika tidak dibatasi">
            </div>
            <div class="form-group">
                <label for="bukti">Apakah Memerlukan Bukti</label>
                {% comment %} use radio button {% endcomment %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bukti" id="bukti_yes" value="True" required {% if izin.is_requires_attachment %}checked{% endif %}>
                    <label class="form-check-label" for="bukti_yes">
                        Ya (Memerlukan Bukti)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bukti" id="bukti_no" value="False" required {% if not izin.is_requires_attachment %}checked{% endif %}>
                    <label class="form-check-label" for="bukti_no">
                        Tidak (Tidak Memerlukan Bukti)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="jatah">Jatah Pengajuan/Bulan</label>
                <input value="{{ izin.max_per_month }}" type="number" class="form-control" name="jatah" id="jatah" placeholder="0 Jika tidak dibatasi">
            </div>
        </div>
        <div class="card-footer">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{{ message.tags }}",  
        title: "{{ message.tags|capfirst }}",
        text: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}
{% endblock %}